<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MASTER</key>
	<dict>
		<key>1</key>
		<dict>
			<key>1118</key>
			<string>0</string>
			<key>1131</key>
			<string>1</string>
			<key>1149</key>
			<string>2</string>
			<key>1134</key>
			<string>0</string>
			<key>1121</key>
			<string>1</string>
			<key>1129</key>
			<string>2</string>
			<key>1115</key>
			<string>0</string>
			<key>1132</key>
			<string>1</string>
			<key>1137</key>
			<string>2</string>
		</dict>
		<key>1234</key>
		<dict>
			<key>1114</key>
			<string>0</string>
			<key>1111</key>
			<string>2</string>
			<key>1117</key>
			<string>0</string>
			<key>1118</key>
			<string>1</string>
			<key>1115</key>
			<string>2</string>
			<key>1112</key>
			<string>0</string>
			<key>1119</key>
			<string>0</string>
			<key>1116</key>
			<string>0</string>
			<key>1113</key>
			<string>1</string>
		</dict>
		<key>1235</key>
		<dict>
			<key>1124</key>
			<string>1</string>
			<key>1121</key>
			<string>0</string>
			<key>1118</key>
			<string>2</string>
			<key>1128</key>
			<string>0</string>
			<key>1125</key>
			<string>0</string>
			<key>1122</key>
			<string>1</string>
			<key>1126</key>
			<string>0</string>
			<key>1123</key>
			<string>2</string>
			<key>1120</key>
			<string>1</string>
		</dict>
		<key>1236</key>
		<dict>
			<key>1127</key>
			<string>1</string>
			<key>1124</key>
			<string>0</string>
			<key>1121</key>
			<string>1</string>
			<key>1128</key>
			<string>1</string>
			<key>1129</key>
			<string>2</string>
			<key>1126</key>
			<string>0</string>
			<key>1123</key>
			<string>2</string>
			<key>1120</key>
			<string>0</string>
			<key>1130</key>
			<string>2</string>
		</dict>
		<key>1237</key>
		<dict>
			<key>1137</key>
			<string>1</string>
			<key>1134</key>
			<string>0</string>
			<key>1131</key>
			<string>2</string>
			<key>1112</key>
			<string>0</string>
			<key>1135</key>
			<string>0</string>
			<key>1132</key>
			<string>0</string>
			<key>1129</key>
			<string>2</string>
			<key>1136</key>
			<string>1</string>
			<key>1133</key>
			<string>2</string>
		</dict>
		<key>1238</key>
		<dict>
			<key>1140</key>
			<string>1</string>
			<key>1144</key>
			<string>2</string>
			<key>1141</key>
			<string>2</string>
			<key>1138</key>
			<string>0</string>
			<key>1131</key>
			<string>0</string>
			<key>1132</key>
			<string>0</string>
			<key>1142</key>
			<string>0</string>
			<key>1139</key>
			<string>1</string>
			<key>1143</key>
			<string>1</string>
		</dict>
		<key>1239</key>
		<dict>
			<key>1140</key>
			<string>0</string>
			<key>1150</key>
			<string>0</string>
			<key>1147</key>
			<string>1</string>
			<key>1121</key>
			<string>2</string>
			<key>1148</key>
			<string>1</string>
			<key>1145</key>
			<string>1</string>
			<key>1149</key>
			<string>0</string>
			<key>1146</key>
			<string>0</string>
			<key>1133</key>
			<string>1</string>
		</dict>
		<key>1240</key>
		<dict>
			<key>1114</key>
			<string>1</string>
			<key>1124</key>
			<string>1</string>
			<key>1134</key>
			<string>2</string>
			<key>1144</key>
			<string>2</string>
			<key>1118</key>
			<string>2</string>
			<key>1128</key>
			<string>0</string>
			<key>1138</key>
			<string>0</string>
			<key>1148</key>
			<string>1</string>
			<key>1142</key>
			<string>1</string>
		</dict>
		<key>1241</key>
		<dict>
			<key>1114</key>
			<string>2</string>
			<key>1147</key>
			<string>1</string>
			<key>1131</key>
			<string>2</string>
			<key>1141</key>
			<string>1</string>
			<key>1135</key>
			<string>2</string>
			<key>1129</key>
			<string>1</string>
			<key>1113</key>
			<string>0</string>
			<key>1123</key>
			<string>0</string>
			<key>1146</key>
			<string>0</string>
		</dict>
		<key>1242</key>
		<dict>
			<key>1114</key>
			<string>2</string>
			<key>1137</key>
			<string>1</string>
			<key>1127</key>
			<string>2</string>
			<key>1128</key>
			<string>0</string>
			<key>1132</key>
			<string>2</string>
			<key>1116</key>
			<string>1</string>
			<key>1142</key>
			<string>0</string>
			<key>1123</key>
			<string>0</string>
			<key>1146</key>
			<string>0</string>
		</dict>
		<key>1243</key>
		<dict>
			<key>1140</key>
			<string>1</string>
			<key>1111</key>
			<string>0</string>
			<key>1150</key>
			<string>2</string>
			<key>1138</key>
			<string>0</string>
			<key>1145</key>
			<string>2</string>
			<key>1116</key>
			<string>2</string>
			<key>1123</key>
			<string>0</string>
			<key>1120</key>
			<string>1</string>
			<key>1130</key>
			<string>0</string>
		</dict>
		<key>1244</key>
		<dict>
			<key>1127</key>
			<string>2</string>
			<key>1137</key>
			<string>2</string>
			<key>1128</key>
			<string>1</string>
			<key>1112</key>
			<string>1</string>
			<key>1145</key>
			<string>0</string>
			<key>1119</key>
			<string>0</string>
			<key>1139</key>
			<string>2</string>
			<key>1149</key>
			<string>1</string>
			<key>1117</key>
			<string>0</string>
		</dict>
		<key>1245</key>
		<dict>
			<key>1121</key>
			<string>2</string>
			<key>1131</key>
			<string>2</string>
			<key>1141</key>
			<string>1</string>
			<key>1122</key>
			<string>2</string>
			<key>1116</key>
			<string>0</string>
			<key>1126</key>
			<string>0</string>
			<key>1136</key>
			<string>1</string>
			<key>1146</key>
			<string>1</string>
			<key>1143</key>
			<string>2</string>
		</dict>
		<key>1246</key>
		<dict>
			<key>1118</key>
			<string>2</string>
			<key>1115</key>
			<string>1</string>
			<key>1125</key>
			<string>1</string>
			<key>1135</key>
			<string>1</string>
			<key>1145</key>
			<string>0</string>
			<key>1128</key>
			<string>0</string>
			<key>1138</key>
			<string>2</string>
			<key>1148</key>
			<string>2</string>
			<key>1133</key>
			<string>2</string>
		</dict>
		<key>1247</key>
		<dict>
			<key>1149</key>
			<string>0</string>
			<key>1111</key>
			<string>0</string>
			<key>1134</key>
			<string>1</string>
			<key>1144</key>
			<string>0</string>
			<key>1137</key>
			<string>2</string>
			<key>1113</key>
			<string>1</string>
			<key>1123</key>
			<string>1</string>
			<key>1133</key>
			<string>1</string>
			<key>1143</key>
			<string>0</string>
		</dict>
		<key>1248</key>
		<dict>
			<key>1121</key>
			<string>2</string>
			<key>1118</key>
			<string>1</string>
			<key>1115</key>
			<string>2</string>
			<key>1112</key>
			<string>2</string>
			<key>1122</key>
			<string>0</string>
			<key>1119</key>
			<string>1</string>
			<key>1116</key>
			<string>2</string>
			<key>1113</key>
			<string>2</string>
			<key>1117</key>
			<string>1</string>
		</dict>
		<key>1249</key>
		<dict>
			<key>1137</key>
			<string>0</string>
			<key>1134</key>
			<string>0</string>
			<key>1141</key>
			<string>2</string>
			<key>1135</key>
			<string>2</string>
			<key>1145</key>
			<string>2</string>
			<key>1142</key>
			<string>0</string>
			<key>1136</key>
			<string>2</string>
			<key>1133</key>
			<string>0</string>
			<key>1143</key>
			<string>0</string>
		</dict>
		<key>1250</key>
		<dict>
			<key>1150</key>
			<string>0</string>
			<key>1147</key>
			<string>1</string>
			<key>1131</key>
			<string>2</string>
			<key>1134</key>
			<string>0</string>
			<key>1148</key>
			<string>1</string>
			<key>1145</key>
			<string>1</string>
			<key>1132</key>
			<string>1</string>
			<key>1149</key>
			<string>0</string>
			<key>1146</key>
			<string>1</string>
		</dict>
		<key>1251</key>
		<dict>
			<key>1127</key>
			<string>0</string>
			<key>1121</key>
			<string>0</string>
			<key>1134</key>
			<string>1</string>
			<key>1144</key>
			<string>1</string>
			<key>1128</key>
			<string>0</string>
			<key>1122</key>
			<string>0</string>
			<key>1129</key>
			<string>2</string>
			<key>1126</key>
			<string>2</string>
			<key>1123</key>
			<string>1</string>
		</dict>
		<key>1252</key>
		<dict>
			<key>1127</key>
			<string>0</string>
			<key>1146</key>
			<string>2</string>
			<key>1134</key>
			<string>1</string>
			<key>1138</key>
			<string>2</string>
			<key>1135</key>
			<string>1</string>
			<key>1132</key>
			<string>0</string>
			<key>1145</key>
			<string>2</string>
			<key>1133</key>
			<string>1</string>
			<key>1117</key>
			<string>0</string>
		</dict>
		<key>1253</key>
		<dict>
			<key>1114</key>
			<string>0</string>
			<key>1140</key>
			<string>1</string>
			<key>1150</key>
			<string>1</string>
			<key>1131</key>
			<string>0</string>
			<key>1148</key>
			<string>2</string>
			<key>1129</key>
			<string>0</string>
			<key>1142</key>
			<string>1</string>
			<key>1120</key>
			<string>1</string>
			<key>1130</key>
			<string>2</string>
		</dict>
		<key>1254</key>
		<dict>
			<key>1140</key>
			<string>1</string>
			<key>1137</key>
			<string>0</string>
			<key>1134</key>
			<string>1</string>
			<key>1141</key>
			<string>1</string>
			<key>1138</key>
			<string>0</string>
			<key>1135</key>
			<string>0</string>
			<key>1119</key>
			<string>2</string>
			<key>1139</key>
			<string>2</string>
			<key>1136</key>
			<string>2</string>
		</dict>
		<key>1255</key>
		<dict>
			<key>1150</key>
			<string>1</string>
			<key>1147</key>
			<string>1</string>
			<key>1144</key>
			<string>0</string>
			<key>1148</key>
			<string>2</string>
			<key>1145</key>
			<string>2</string>
			<key>1122</key>
			<string>2</string>
			<key>1149</key>
			<string>1</string>
			<key>1146</key>
			<string>2</string>
			<key>1143</key>
			<string>2</string>
		</dict>
		<key>1256</key>
		<dict>
			<key>1127</key>
			<string>0</string>
			<key>1121</key>
			<string>1</string>
			<key>1128</key>
			<string>1</string>
			<key>1125</key>
			<string>0</string>
			<key>1122</key>
			<string>1</string>
			<key>1129</key>
			<string>0</string>
			<key>1126</key>
			<string>2</string>
			<key>1123</key>
			<string>1</string>
			<key>1120</key>
			<string>2</string>
		</dict>
		<key>1257</key>
		<dict>
			<key>1137</key>
			<string>0</string>
			<key>1134</key>
			<string>1</string>
			<key>1131</key>
			<string>2</string>
			<key>1138</key>
			<string>0</string>
			<key>1135</key>
			<string>0</string>
			<key>1132</key>
			<string>2</string>
			<key>1136</key>
			<string>0</string>
			<key>1133</key>
			<string>2</string>
			<key>1130</key>
			<string>2</string>
		</dict>
		<key>1258</key>
		<dict>
			<key>1114</key>
			<string>0</string>
			<key>1121</key>
			<string>0</string>
			<key>1118</key>
			<string>1</string>
			<key>1115</key>
			<string>1</string>
			<key>1122</key>
			<string>1</string>
			<key>1119</key>
			<string>0</string>
			<key>1116</key>
			<string>2</string>
			<key>1120</key>
			<string>1</string>
			<key>1117</key>
			<string>0</string>
		</dict>
		<key>1259</key>
		<dict>
			<key>1117</key>
			<string>2</string>
			<key>1124</key>
			<string>0</string>
			<key>1134</key>
			<string>1</string>
			<key>1144</key>
			<string>1</string>
			<key>1112</key>
			<string>2</string>
			<key>1122</key>
			<string>0</string>
			<key>1123</key>
			<string>2</string>
			<key>1133</key>
			<string>0</string>
			<key>1143</key>
			<string>0</string>
		</dict>
		<key>1260</key>
		<dict>
			<key>1127</key>
			<string>2</string>
			<key>1144</key>
			<string>2</string>
			<key>1141</key>
			<string>1</string>
			<key>1115</key>
			<string>1</string>
			<key>1138</key>
			<string>0</string>
			<key>1145</key>
			<string>0</string>
			<key>1142</key>
			<string>2</string>
			<key>1123</key>
			<string>0</string>
			<key>1143</key>
			<string>1</string>
		</dict>
		<key>1261</key>
		<dict>
			<key>1114</key>
			<string>0</string>
			<key>1150</key>
			<string>0</string>
			<key>1118</key>
			<string>2</string>
			<key>1138</key>
			<string>0</string>
			<key>1122</key>
			<string>0</string>
			<key>1112</key>
			<string>1</string>
			<key>1126</key>
			<string>2</string>
			<key>1139</key>
			<string>1</string>
			<key>1146</key>
			<string>2</string>
		</dict>
		<key>1262</key>
		<dict>
			<key>1141</key>
			<string>1</string>
			<key>1138</key>
			<string>2</string>
			<key>1128</key>
			<string>0</string>
			<key>1145</key>
			<string>0</string>
			<key>1132</key>
			<string>0</string>
			<key>1125</key>
			<string>2</string>
			<key>1112</key>
			<string>0</string>
			<key>1119</key>
			<string>0</string>
			<key>1117</key>
			<string>1</string>
		</dict>
		<key>1263</key>
		<dict>
			<key>1140</key>
			<string>0</string>
			<key>1121</key>
			<string>2</string>
			<key>1131</key>
			<string>2</string>
			<key>1128</key>
			<string>0</string>
			<key>1125</key>
			<string>0</string>
			<key>1132</key>
			<string>0</string>
			<key>1126</key>
			<string>2</string>
			<key>1139</key>
			<string>1</string>
			<key>1130</key>
			<string>2</string>
		</dict>
		<key>1264</key>
		<dict>
			<key>1120</key>
			<string>2</string>
			<key>1134</key>
			<string>1</string>
			<key>1131</key>
			<string>1</string>
			<key>1138</key>
			<string>0</string>
			<key>1129</key>
			<string>2</string>
			<key>1126</key>
			<string>0</string>
			<key>1116</key>
			<string>0</string>
			<key>1146</key>
			<string>0</string>
			<key>1143</key>
			<string>2</string>
		</dict>
		<key>1265</key>
		<dict>
			<key>1127</key>
			<string>1</string>
			<key>1137</key>
			<string>1</string>
			<key>1121</key>
			<string>1</string>
			<key>1144</key>
			<string>0</string>
			<key>1118</key>
			<string>2</string>
			<key>1112</key>
			<string>1</string>
			<key>1125</key>
			<string>0</string>
			<key>1119</key>
			<string>0</string>
			<key>1116</key>
			<string>1</string>
		</dict>
		<key>1266</key>
		<dict>
			<key>1114</key>
			<string>1</string>
			<key>1120</key>
			<string>0</string>
			<key>1147</key>
			<string>0</string>
			<key>1119</key>
			<string>1</string>
			<key>1116</key>
			<string>1</string>
			<key>1129</key>
			<string>1</string>
			<key>1139</key>
			<string>1</string>
			<key>1149</key>
			<string>0</string>
			<key>1136</key>
			<string>0</string>
		</dict>
	</dict>
</dict>
</plist>
