<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1111</key>
	<dict>
		<key>question_id</key>
		<string>1111</string>
		<key>question</key>
		<string>What is your favorite color?</string>
		<key>options</key>
		<array>
			<string>Red</string>
			<string>Green</string>
			<string>Silver</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Personal</string>
		<key>author_id</key>
		<string>1234</string>
		<key>times_answered</key>
		<string>3</string>
	</dict>
	<key>1112</key>
	<dict>
		<key>question_id</key>
		<string>1112</string>
		<key>question</key>
		<string>What timedo you eat lunch?</string>
		<key>options</key>
		<array>
			<string>11:00</string>
			<string>12:00</string>
			<string>1:00</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Personal</string>
		<key>author_id</key>
		<string>1234</string>
		<key>times_answered</key>
		<string>8</string>
	</dict>
	<key>1113</key>
	<dict>
		<key>question_id</key>
		<string>1113</string>
		<key>question</key>
		<string>Which best describes you?</string>
		<key>options</key>
		<array>
			<string>Introvert</string>
			<string>Extrovert</string>
			<string>Both</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Personal</string>
		<key>author_id</key>
		<string>1234</string>
	</dict>
	<key>1114</key>
	<dict>
		<key>question_id</key>
		<string>1114</string>
		<key>question</key>
		<string>How old were you when you first walked?</string>
		<key>options</key>
		<array>
			<string>2 years old</string>
			<string>3 years old</string>
			<string>4 years old</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Personal</string>
		<key>author_id</key>
		<string>1234</string>
	</dict>
	<key>1115</key>
	<dict>
		<key>question_id</key>
		<string>1115</string>
		<key>question</key>
		<string>Your favorite freetime activity?</string>
		<key>options</key>
		<array>
			<string>Read</string>
			<string>Watch Movies</string>
			<string>Exercise</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Personal</string>
		<key>author_id</key>
		<string>1</string>
	</dict>
	<key>1116</key>
	<dict>
		<key>question_id</key>
		<string>1116</string>
		<key>question</key>
		<string>How tall are you?</string>
		<key>options</key>
		<array>
			<string>&lt; 6&apos;0</string>
			<string>6&apos;0</string>
			<string>&gt; 6&apos;0</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Personal</string>
		<key>author_id</key>
		<string>1234</string>
	</dict>
	<key>1117</key>
	<dict>
		<key>question_id</key>
		<string>1117</string>
		<key>question</key>
		<string>Who do you relate with most?</string>
		<key>options</key>
		<array>
			<string>Father</string>
			<string>Mother</string>
			<string>Sibling</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Personal</string>
		<key>author_id</key>
		<string>1234</string>
	</dict>
	<key>1118</key>
	<dict>
		<key>question_id</key>
		<string>1118</string>
		<key>question</key>
		<string>How many friends do you have?</string>
		<key>options</key>
		<array>
			<string>&lt; 10</string>
			<string>10</string>
			<string>&gt; 10</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Personal</string>
		<key>author_id</key>
		<string>1</string>
	</dict>
	<key>1119</key>
	<dict>
		<key>question_id</key>
		<string>1119</string>
		<key>question</key>
		<string>Most important meal of the day?</string>
		<key>options</key>
		<array>
			<string>Breakfast</string>
			<string>Lunch</string>
			<string>Dinner</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Personal</string>
		<key>author_id</key>
		<string>1234</string>
	</dict>
	<key>1120</key>
	<dict>
		<key>question_id</key>
		<string>1120</string>
		<key>question</key>
		<string>Who is most important?</string>
		<key>options</key>
		<array>
			<string>Family</string>
			<string>Friends</string>
			<string>Girlfriend / Boyfriend</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Personal</string>
		<key>author_id</key>
		<string>1234</string>
	</dict>
	<key>1121</key>
	<dict>
		<key>question_id</key>
		<string>1121</string>
		<key>question</key>
		<string>Your burger preference?</string>
		<key>options</key>
		<array>
			<string>Hamburger</string>
			<string>Cheeseburger</string>
			<string>Big Mac</string>
			<string>Mushroom Burger</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Commercial</string>
		<key>author_id</key>
		<string>1</string>
	</dict>
	<key>1122</key>
	<dict>
		<key>question_id</key>
		<string>1122</string>
		<key>question</key>
		<string>When do you visit McDonalds?</string>
		<key>options</key>
		<array>
			<string>Short on time</string>
			<string>On a date</string>
			<string>Last resort</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Commercial</string>
		<key>author_id</key>
		<string>1235</string>
	</dict>
	<key>1123</key>
	<dict>
		<key>question_id</key>
		<string>1123</string>
		<key>question</key>
		<string>Why did you like Happy Meals as a kid?</string>
		<key>options</key>
		<array>
			<string>bc of the toy</string>
			<string>bc of the food</string>
			<string>bc of the box</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Commercial</string>
		<key>author_id</key>
		<string>1235</string>
	</dict>
	<key>1124</key>
	<dict>
		<key>question_id</key>
		<string>1124</string>
		<key>question</key>
		<string>Your favorite McDonalds character?</string>
		<key>options</key>
		<array>
			<string>Ronald</string>
			<string>Grimis</string>
			<string>Hamburgler</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Commercial</string>
		<key>author_id</key>
		<string>1235</string>
	</dict>
	<key>1125</key>
	<dict>
		<key>question_id</key>
		<string>1125</string>
		<key>question</key>
		<string>What do you drink in the morning?</string>
		<key>options</key>
		<array>
			<string>Coffee</string>
			<string>Juice</string>
			<string>Energy Drink</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Commercial</string>
		<key>author_id</key>
		<string>1235</string>
	</dict>
	<key>1126</key>
	<dict>
		<key>question_id</key>
		<string>1126</string>
		<key>question</key>
		<string>What type of cell phone do you have?</string>
		<key>options</key>
		<array>
			<string>iPhone</string>
			<string>Android</string>
			<string>Don&apos;t have a cell phone</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Commercial</string>
		<key>author_id</key>
		<string>1236</string>
	</dict>
	<key>1127</key>
	<dict>
		<key>question_id</key>
		<string>1127</string>
		<key>question</key>
		<string>Why do you like your iphone?</string>
		<key>options</key>
		<array>
			<string>Social reasons</string>
			<string>Easy to use</string>
			<string>Don&apos;t have an iphone</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Commercial</string>
		<key>author_id</key>
		<string>1236</string>
	</dict>
	<key>1128</key>
	<dict>
		<key>question_id</key>
		<string>1128</string>
		<key>question</key>
		<string>How often do you use your phone?</string>
		<key>options</key>
		<array>
			<string>&lt; 10 hours per week</string>
			<string>&gt; 15 hours per week</string>
			<string>&gt; 30 hours per week</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Commercial</string>
		<key>author_id</key>
		<string>1236</string>
	</dict>
	<key>1129</key>
	<dict>
		<key>question_id</key>
		<string>1129</string>
		<key>question</key>
		<string>When do you use your headphones?</string>
		<key>options</key>
		<array>
			<string>At school / work</string>
			<string>On the bus</string>
			<string>In the library</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Commercial</string>
		<key>author_id</key>
		<string>1236</string>
	</dict>
	<key>1130</key>
	<dict>
		<key>question_id</key>
		<string>1130</string>
		<key>question</key>
		<string>Total songs in your music library?</string>
		<key>options</key>
		<array>
			<string>&lt; 30</string>
			<string>&gt; 100</string>
			<string>&gt; 1000</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Commercial</string>
		<key>author_id</key>
		<string>1236</string>
	</dict>
	<key>1131</key>
	<dict>
		<key>question_id</key>
		<string>1131</string>
		<key>question</key>
		<string>What is your religion?</string>
		<key>options</key>
		<array>
			<string>Jewish</string>
			<string>Christian</string>
			<string>Other</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Dating</string>
		<key>author_id</key>
		<string>1237</string>
	</dict>
	<key>1132</key>
	<dict>
		<key>question_id</key>
		<string>1132</string>
		<key>question</key>
		<string>Do you smoke cigarettes?</string>
		<key>options</key>
		<array>
			<string>Regularly</string>
			<string>No</string>
			<string>Sometimes</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Dating</string>
		<key>author_id</key>
		<string>1237</string>
	</dict>
	<key>1133</key>
	<dict>
		<key>question_id</key>
		<string>1133</string>
		<key>question</key>
		<string>What feature do you like most?</string>
		<key>options</key>
		<array>
			<string>Eyes</string>
			<string>Hair</string>
			<string>Accent</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Dating</string>
		<key>author_id</key>
		<string>1237</string>
	</dict>
	<key>1134</key>
	<dict>
		<key>question_id</key>
		<string>1134</string>
		<key>question</key>
		<string>What is most important?</string>
		<key>options</key>
		<array>
			<string>Looks</string>
			<string>Smarts</string>
			<string>Wallet</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Dating</string>
		<key>author_id</key>
		<string>1237</string>
	</dict>
	<key>1135</key>
	<dict>
		<key>question_id</key>
		<string>1135</string>
		<key>question</key>
		<string>How many tattoos do you have?</string>
		<key>options</key>
		<array>
			<string>None</string>
			<string>1</string>
			<string>&gt; 1</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Dating</string>
		<key>author_id</key>
		<string>1237</string>
	</dict>
	<key>1136</key>
	<dict>
		<key>question_id</key>
		<string>1136</string>
		<key>question</key>
		<string>Most important about first date?</string>
		<key>options</key>
		<array>
			<string>Place</string>
			<string>Company</string>
			<string>Conversation</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Dating</string>
		<key>author_id</key>
		<string>1237</string>
	</dict>
	<key>1137</key>
	<dict>
		<key>question_id</key>
		<string>1137</string>
		<key>question</key>
		<string>Longest relationship</string>
		<key>options</key>
		<array>
			<string>&lt; 6 months</string>
			<string>&gt; 1 year</string>
			<string>&gt; 5 years</string>
		</array>
		<key>correct_answer</key>
		<string>-1</string>
		<key>category</key>
		<string>Dating</string>
		<key>author_id</key>
		<string>1237</string>
	</dict>
	<key>1138</key>
	<dict>
		<key>question_id</key>
		<string>1138</string>
		<key>question</key>
		<string>What is 4 x 4?</string>
		<key>options</key>
		<array>
			<string>16</string>
			<string>12</string>
			<string>8</string>
		</array>
		<key>correct_answer</key>
		<string>0</string>
		<key>category</key>
		<string>Math</string>
		<key>author_id</key>
		<string>1238</string>
	</dict>
	<key>1139</key>
	<dict>
		<key>question_id</key>
		<string>1139</string>
		<key>question</key>
		<string>What is 1 + 1 ?</string>
		<key>options</key>
		<array>
			<string>0</string>
			<string>4</string>
			<string>2</string>
		</array>
		<key>correct_answer</key>
		<string>1</string>
		<key>category</key>
		<string>Math</string>
		<key>author_id</key>
		<string>1238</string>
	</dict>
	<key>1140</key>
	<dict>
		<key>question_id</key>
		<string>1140</string>
		<key>question</key>
		<string>3 x 4 + 8</string>
		<key>options</key>
		<array>
			<string>23</string>
			<string>20</string>
			<string>36</string>
		</array>
		<key>correct_answer</key>
		<string>1</string>
		<key>category</key>
		<string>Math</string>
		<key>author_id</key>
		<string>1238</string>
	</dict>
	<key>1141</key>
	<dict>
		<key>question_id</key>
		<string>1141</string>
		<key>question</key>
		<string>Remainder of 100 ÷ 12?</string>
		<key>options</key>
		<array>
			<string>0</string>
			<string>2</string>
			<string>4</string>
		</array>
		<key>correct_answer</key>
		<string>2</string>
		<key>category</key>
		<string>Math</string>
		<key>author_id</key>
		<string>1238</string>
	</dict>
	<key>1142</key>
	<dict>
		<key>question_id</key>
		<string>1142</string>
		<key>question</key>
		<string>Square root of 16</string>
		<key>options</key>
		<array>
			<string>4</string>
			<string>16</string>
			<string>1</string>
		</array>
		<key>correct_answer</key>
		<string>0</string>
		<key>category</key>
		<string>Math</string>
		<key>author_id</key>
		<string>1238</string>
	</dict>
	<key>1143</key>
	<dict>
		<key>question_id</key>
		<string>1143</string>
		<key>question</key>
		<string>Amount of seconds in a minute</string>
		<key>options</key>
		<array>
			<string>40</string>
			<string>60</string>
			<string>120</string>
		</array>
		<key>correct_answer</key>
		<string>1</string>
		<key>category</key>
		<string>Math</string>
		<key>author_id</key>
		<string>1238</string>
	</dict>
	<key>1144</key>
	<dict>
		<key>question_id</key>
		<string>1144</string>
		<key>question</key>
		<string>What is 49 - 23?</string>
		<key>options</key>
		<array>
			<string>12</string>
			<string>16</string>
			<string>26</string>
		</array>
		<key>correct_answer</key>
		<string>2</string>
		<key>category</key>
		<string>Math</string>
		<key>author_id</key>
		<string>1238</string>
	</dict>
	<key>1145</key>
	<dict>
		<key>question_id</key>
		<string>1145</string>
		<key>question</key>
		<string>What returns do we accept?</string>
		<key>options</key>
		<array>
			<string>Cracked product</string>
			<string>Opened Product</string>
			<string>No Receipt</string>
		</array>
		<key>correct_answer</key>
		<string>1</string>
		<key>category</key>
		<string>Training</string>
		<key>author_id</key>
		<string>1239</string>
	</dict>
	<key>1146</key>
	<dict>
		<key>question_id</key>
		<string>1146</string>
		<key>question</key>
		<string>Ok to wear at work?</string>
		<key>options</key>
		<array>
			<string>Jeans</string>
			<string>Sandals</string>
			<string>Swimming suit</string>
		</array>
		<key>correct_answer</key>
		<string>0</string>
		<key>category</key>
		<string>Training</string>
		<key>author_id</key>
		<string>1239</string>
	</dict>
	<key>1147</key>
	<dict>
		<key>question_id</key>
		<string>1147</string>
		<key>question</key>
		<string>When you do timecards?</string>
		<key>options</key>
		<array>
			<string>Once per month</string>
			<string>Once per week</string>
			<string>Manager does it for me</string>
		</array>
		<key>correct_answer</key>
		<string>1</string>
		<key>category</key>
		<string>Training</string>
		<key>author_id</key>
		<string>1239</string>
	</dict>
	<key>1148</key>
	<dict>
		<key>question_id</key>
		<string>1148</string>
		<key>question</key>
		<string>How do you great a customer?</string>
		<key>options</key>
		<array>
			<string>&quot;How are you today?&quot;</string>
			<string>&quot;What can I help you with?&quot;</string>
			<string>&quot;What is your problem?&quot;</string>
		</array>
		<key>correct_answer</key>
		<string>1</string>
		<key>category</key>
		<string>Training</string>
		<key>author_id</key>
		<string>1239</string>
	</dict>
	<key>1149</key>
	<dict>
		<key>question_id</key>
		<string>1149</string>
		<key>question</key>
		<string>What do we call customers?</string>
		<key>options</key>
		<array>
			<string>Guests</string>
			<string>Friends</string>
			<string>Smart</string>
		</array>
		<key>correct_answer</key>
		<string>0</string>
		<key>category</key>
		<string>Training</string>
		<key>author_id</key>
		<string>1239</string>
	</dict>
	<key>1150</key>
	<dict>
		<key>question_id</key>
		<string>1150</string>
		<key>question</key>
		<string>What comes after tapping ledger button?</string>
		<key>options</key>
		<array>
			<string>Tap cash button</string>
			<string>Tap discount button</string>
			<string>Tap return reason</string>
		</array>
		<key>correct_answer</key>
		<string>0</string>
		<key>category</key>
		<string>Training</string>
		<key>author_id</key>
		<string>1239</string>
	</dict>
</dict>
</plist>
